#tweets-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* padding: 20px; */
  margin-bottom: 10px;
  width: 90%;
}

article.tweet {
  border: 2px solid black;
  margin-bottom: 3em;
  padding: 20px;
}

article.tweet:hover {
  box-shadow: 4px 4px black;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 10px; */
}

article.tweet header img {
  margin-right: 10px;
}

#user-avatar {
  display: flex;
  flex-direction: row;
}

#tweet-body {
  border-bottom: 2px solid black;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  font-size: medium;
}

.flag:hover {
  color: red;
}

.retweet:hover {
  color: red;
}

.heart:hover {
  color: red;
}