#tweets-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 90%;
}

.tweet-box {
  border: 2px solid black;
  margin-bottom: 3em;
  padding: 20px;
}

.tweet-box:hover {
  box-shadow: 4px 4px black;
}

.tweet-box > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-avatar {
  display: flex;
  flex-direction: row;
}

#user-avatar > img {
  margin-right: 10px;
}

#tweet-body {
  border-bottom: 2px solid black;
  padding: 10px;
}

.tweet-box > footer {
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.flag-icon:hover {
  color: red;
}

.retweet-icon:hover {
  color: red;
}

.heart-icon:hover {
  color: red;
}